<div menu></div>
<div class = "container scroll">
<br><br><br><br>
    <div class="text-center letra">
      <h1>Añadir Banda al catalogo</h1>
  </div>
<br><br>
<form class="form-horizontal">
   <div class="text-center letra">
      <h2>Nombre de la banda/artista</h2>
   </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="inputSuccess"  required="required" ng-model="bandname">
      </div>
<br><br>
    <div class="text-center letra">
      <h2>Miembros</h2>
   </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="inputSuccess"  required="required" ng-model="bandart">
    </div>
  </form>
</div>