<div menu></div>
	<div class = "container scroll" style="padding-top: 80px;" ng-init="getGenres()">
	<form class="form-horizontal" ng-submit="addBand()">

<!-- Form Name -->
<h2 ALIGN="center">AGREGA UNA NUEVA BANDA</h2><br><br>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Company Name">Nombre de la banda</label>  
  <div class="col-md-6">
  <input id="bandName"  ng-model="bandData.nombre" type="text" placeholder="Añade el nombre de la Banda" class="form-control input-md"  required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="User Name">Integrantes de la banda</label>  
  <div class="col-md-5">
  <input id="member" name="User Name" type="text" placeholder="Añade un integrante" class="form-control input-md" >
	  <ion-list class="list-group">
			<ion-item ng-click="removeMember(member)" class="list-group-item" ng-repeat="mem in bandData.artistas" >
					{{mem}}
			</ion-item>
	  </ion-list>
  </div>
	<button ng-click="addMember(menber)" class="col-md-1">Añadir Mas Integrantes</button>
	<ion-list class="list-group col-md-6">
    	</ion-list>
	
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="User Id">Canciones principales</label>  
  <div class="col-md-5">
  	<input type="text" placeholder="Añade una Canción" class="form-control input-md" id="song" >
	 <ion-list class="list-group">
			<ion-item ng-click="removeSong(song)" class="list-group-item" ng-repeat="song in bandData.canciones" >
					{{song}}
			</ion-item>
	  </ion-list>  
	  
  </div>
	<button class="col-md-1" ng-click="addSong(song)">Añadir Más Canciones</button> 
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Mail Id ">Géneros de la Banda </label>  
	          	<div class="container panel panel-default col-md-3">
				<div class="panel-heading">
				<input type="search"
             			placeholder="Busca un Género"
             			ng-model="search"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
    		<div class="panel-body" style="overflow:scroll; height:150px;">
				<ion-list class="list-group">
					<ion-item class="list-group-item" ng-repeat="genre in genres | filter:search" ng-click="addGenre(genre)" >
						<h3 ALIGN="center" >{{genre.nombre}}<span class="glyphicon glyphicon-minus"></span></h3>
					</ion-item>
    			</ion-list>
			</div>
			</div>
			<div class="container panel panel-default col-md-3">
				<div class="panel-heading">
					<input type="search"
             			placeholder="Busca un Género Agregado"
             			ng-model="search2"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
    			<div class="panel-body" style="overflow:scroll; height:150px;">
            	<ion-list class="list-group">
					<ion-item class="list-group-item" ng-repeat="genre in addedGenres | filter:search2" ng-click="removeGenre(genre)" >
						<h3 ALIGN="center" >{{genre.nombre}}<span class="glyphicon glyphicon-minus"></span></h3>
					</ion-item>
    			</ion-list>
			</div>
			</div>		
</div>

<!-- Button -->
<div class="form-group">
  <div  ALIGN="center">
    <input type="submit" Value="ingresar Banda" class="btn btn-success">
  </div>
</div>

	
	
	</form>