<div class="scroll">
<div >
	<button ng-click="fun()">get</button>
	<button ng-click="spotifyLogin()">Conect</button>
    <ion-list>
      <ion-item ng-repeat="track in tracks" >
        {{track.name}}
      </ion-item>
    </ion-list>
</div>

        <div class="container">
			
            <div class="row">
                <div class="col-md-3">
					<img src={{pic}}>
					<form method="post" enctype="multipart/form-data" ng-submit="uploadFile()"><br>

						<input id="file24355" type=file size=60 name="file222"><br><br>
						<input type="submit" placeholder="dele aqui">
					</form>
	
                </div>
            </div>

        </div>



<input id="file" type="file"><br>
<img src="" i height="200" id="pic" ait="Image preview...">
<br><br><br>
<button ng-click="up()" > Dele aqui  </button>





<h1> {{try.artists.items[0].id}}  </h1>




</div>



