<div >
	<button ng-click="fun()">get</button>
	<button ng-click="spotifyLogin()">Conect</button>
    <ion-list>
      <ion-item ng-repeat="track in tracks" >
        {{track.name}}
      </ion-item>
    </ion-list>
</div>


        <div class="container">
			<img ng-src={{pic}} alt="" height="30" width="auto">
            <div class="row">
                <div class="col-md-3">
                    <input id="file" type="file" nv-file-select uploader="{FileUploader}"/>
					<button ng-click="add()">Add</button>
                </div>

            </div>

        </div>