<div >
	<button ng-click="fun()">get</button>
	<button ng-click="spotifyLogin()">Conect</button>
    <ion-list>
      <ion-item ng-repeat="track in tracks" >
        {{track.name}}
      </ion-item>
    </ion-list>
</div>

        <div class="container">
			
            <div class="row">
                <div class="col-md-3">
					<form name="upload" ng-submit="uploadFile()">
                			<input type="file" name="file" id="file" uploader-model="file"/> <br>
                			<input type="submit" value="Enviar"> 
            </form>
                </div>
            </div>

        </div>