<div menu ></div>
<div class="container scroll" >

<br><br><br>

	<h2 ALIGN="center"> Catálogo de bandas registradas</h2>
	<div class="col-sm-3 sidenav"></div>
	
		<div class="col-sm-6">
            		<input type="search"
             			placeholder="Busca una banda"
             			ng-model="search"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
		<ion-list class="list-group">
      		<ion-item class="list-group-item" ng-repeat="band in catalogue | filter:search" >
       		
				{{band.name}}
      
			</ion-item>
    	</ion-list>
			<h4 style="color:#FF0101" ALIGN="center" ng-if="isEmpty">NO SE ENCUENTRAN BANDAS REGISTRADAS</h4 >
	</div>
		<div class="col-sm-3 sidenav"></div>	
</div>
