<div menu></div>
<div class="scroll">
	<div class="container">
		<div class="col-sm-2 sidenav">
		</div>
  			<div class="col-sm-8">
				<ion-slide-box 
					show-pager="true" 
					does-continue="true" 
					pager-click="true" 
					auto-play="true" 
					slide-interval="4000"
					delegate-handle="slidebox1"  
					on-slide-changed="slideHasChanged($index, 'slidebox1')">

					<ion-slide ng-repeat="image in imageArray">
							<img ng-src={{image}} alt="" height="500" width="auto">
					</ion-slide>
				</ion-slide-box>
			</div>
		<div class="col-sm-2 sidenav">
		</div>
		</div>
	<br>
	<br>
	<div class="container">
		<div class="col-sm-2 sidenav">
		</div>
		<div class="col-sm-8">
				<ion-slide-box 
					  show-pager="true" 
					  does-continue="true" 
					  pager-click="true" 
					  auto-play="true" 
					  slide-interval="4000"
							   delegate-handle="slidebox2"  
					on-slide-changed="slideHasChanged($index, 'slidebox2')">

					<ion-slide ng-repeat="image in imageArray2">
							<img ng-src={{image}} alt="" height="500" width="auto">
					</ion-slide>
				</ion-slide-box>
		</div>
		<div class="col-sm-2 sidenav">
		</div>
	</div>
	
	
			
		</div>