<div menu></div>
<div class="scroll" style="padding-top: 80px;" ng-init="getAllData()">
	<h2 ALIGN="center" class="col-sm-5" >CARTELERAS</h2>
	<h2 ALIGN="center" class="col-sm-5" >FESTIVALES</h2>

	<div class="container">
  			<div class="col-md-6">
				<ion-slide-box 
					show-pager="true" 
					does-continue="true" 
					pager-click="true" 
					auto-play="true" 
					slide-interval="1500"
					delegate-handle="slidebox1"  
					on-slide-changed="slideHasChanged($index, 'slidebox1')">

					<ion-slide ng-repeat="billboard in billboards">	
							<a href="#/seeBillboard/{{billboard.id}}"><img ng-src={{billboard.foto}} alt="" height="300" width="500">
							</a>
							<h3>{{billboard.nombre}}</h3>
							
					</ion-slide>
				</ion-slide-box>
			</div>
		<div class="col-md-1"></div>

		<div class="col-md-6">
				<ion-slide-box 
					  show-pager="true" 
					  does-continue="true" 
					  pager-click="true" 
					  auto-play="true" 
					  slide-interval="1500"
							   delegate-handle="slidebox2"  
					on-slide-changed="slideHasChanged($index, 'slidebox2')">

					<ion-slide ng-repeat="festival in festivals">
						<a href="#/seeFestival/{{festival.id}}"><img ng-src={{festival.foto}} alt="" height="300" width="500"></a>
							<h3>{{festival.nombre}}</h3>
					</ion-slide>
				</ion-slide-box>
		</div>
	</div>	
</div>