<div class="container-fluid background" ng-init=starPage()>
	<div class="back">
		<img src="https://image.ibb.co/dE2cav/My_Concert3.png" width="100%" height="95%" margin="0 auto"/>
	</div>
    <h1 ALIGN="center" class="letra">Bienvenido a My Concert</h1>
	<div class="container-fluid row">
		<div id="polinami" class="col-sm-6">
			<h4 class="text-left">Compañia X-FEST</h4>
			<div class="text-left">
				<h4>X-Fest es una de las empresas promotoras de conciertos más grandes de Latinoamérica. Es líder regional en número de eventos musicales organizados anualmente, está presente en actividades como conciertos, festivales musicales y eventos de entretenimiento masivo para clientes corpotativos y públicos en general.</h4>
			</div>
		</div>   
        
	<div id="polinavi" class="col-sm-6">
		<h4 class="text-left">MY Concert</h4>
		<div class="text-left">
			<h4>X-FEST ha tratado en los últimos años de establecer y mantener una estrecha relación con la comunidad de fanáticos musicales, con mira a mejorar y conocer mas a sus seguidores.</h4>
		</div>
	</div>
        
        
	<div id="polina" class="col-sm-6">
		<h3 ALIGN="center">Inicio de Sesión</h3>
			<h5 ALIGN="left">Nombre de Usuario :</h5>
			<form autocomplete="off" id="myForm" method="post" class="form-horizontal" ng-submit="checkUser(usr,psw)">
    			<div class="form-group has-success has-feedback">
      				<div class="col-sm-12">
        				<input type="text" class="form-control" id="inputSuccess"  required="required" ng-model="usr">
      				</div>
    			</div>
				<h5 ALIGN="left">Contraseña :</h5>
     			<div class="form-group has-success has-feedback">
      				<div class="col-sm-12">
        				<input type="password" class="form-control" id="inputSuccess"  required="required" ng-model="psw">
      				</div>
    			</div>
  				<input type="submit" class="btn sellBtn boton" value="Iniciar Sesión">
  			</form>
  			<br>
		
   			<h3 ALIGN="left">Aún no tienes cuenta?</h3>
   			<h5 ALIGN="left">Registrese gratis</h5>
  			<a href= "#/register" type="button" class="btn sellBtn boton">Registrarse</a>
	</div>
        
	</div>
</div>