<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
		 <a><img   src="https://image.ibb.co/dE2cav/My_Concert3.png" width="95" height="70"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a  href="#/main">INICIO</a></li>
		    <li><a href="#/login">AÑADIR BANDAS</a></li>
        <li><a  ng-click="tryg()" href="#/main">INICIO</a></li>
		    <li><a>AÑADIR BANDAS</a></li>
            <li><a href="#">CATALOGO</a></li>
		 
		  	<li><a ng-click="tryp()" >Pruebasp</a></li>
		  <li><a ng-click="tryg()" >Pruebasg</a></li>
		  <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" >{{poner.usuario}}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">VER PERFIL</a></li>  
			<li><a href="#/login">CERRAR SESION</a></li>
          </ul>
        </li>
       </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a >IDIOMA</a></li>
		<li><a >AYUDA</a></li>
     </ul>
     
     </div>
  </div>
</nav>