<div menu></div>
<div class="container scroll" style="padding-top: 80px;" ng-init="getGenres()">
<h1 ALIGN="center">Únete a My Concert</h1><br>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
		<br>
		<br>
      <div class="text-center">  
        <img width="auto" id="pic" height="200px" src="https://static.comicvine.com/uploads/original/11/113410/3459214-facebook_profile___luffy_by_sashasteins-d6330ot.jpg" alt="avatar">
        <h6>Cambie su foto de perfil</h6>
        <input type="file" id="file" class="text-center center-block well well-sm">
      </div>
		
	<div ALIGN="center">
		<input class="btn btn-success" type="button" value="Fanatico" ng-click="changeUserType()" ng-if="!userType">
		<input type="button" class="btn btn-success" value="Promoción" ng-click="changeUserType()" ng-if="userType">
	</div>

		
	<div ALIGN="center"><label>Usuario Fanático/Promoción</label>

		</div><br><br>
		
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form" ng-submit="addUser()">
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.nombre" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Apellido:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.apellido" type="text">
          </div>
        </div>
		 <div class="form-group" ng-if="userType">
          <label class="col-lg-3 control-label">Pais:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select ng-model="userData.pais" class="form-control">
              		<option value="1">Costa Rica</option>
                	<option value="2">Argentina</option>
					<option value="3">Chile</option>
					<option value="4">Colombia</option>
				  	<option value="5">Brasil</option>
              		<option value="6">México</option>
				  	<option value="7">Panama</option>
				  	<option value="8">Cánada</option>
				</select>
            </div>
          </div>
        </div>
		<div class="form-group" ng-if="userType">
          <label class="col-lg-3 control-label" >Ubicación:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.ubicacion" type="text">
          </div>
        </div>
        <div class="form-group" ng-if="userType">
          <label class="col-lg-3 control-label">Universidad:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.universidad" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Correo Electrónico:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.email" type="email">
          </div>
        </div>
		<div class="form-group" ng-if="userType">
          <label class="col-lg-3 control-label">teléfono:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userData.telefono" type="tel">
          </div>
        </div> 
		<div class="form-group" ng-if="userType">
          <label class="col-lg-3 control-label">Fecha de Nacimiento:</label>
          <div class="col-lg-8">
			<label>
            	<input ng-model="date.date" type="date"/>
			</label>  
		</div>
        </div>    
        <div class="form-group">
          <label class="col-md-3 control-label" >Nombre de Usuario:</label>
          <div class="col-md-8">
            <input class="form-control" ng-model="userData.userName" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contraseña:</label>
          <div class="col-md-8">
            <input id="pass" class="form-control" 
				   ng-model="userData.password" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirmar Contraseña:</label>
          <div class="col-md-8">
            <input class="form-control" ng-model="password.contrasena" type="password">
          </div>
		  </div>
		
		 <div class="form-group" ng-if="userType">
          <label class="col-md-3 control-label"> Descripción:</label>
          <div class="col-md-8">
            <input class="form-control" ng-model="userData.descripcion" type="text">
          </div>
        </div>	
		
		<div class="form-group" ng-if="userType">
          	<label class="col-lg-3 control-label">Seleccione sus generos de Preferencia:</label>
          	<div class="container panel panel-default col-lg-4">
				<div class="panel-heading">
				<input type="search"
             			placeholder="Busca un Género"
             			ng-model="search"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
    		<div class="panel-body" style="overflow:scroll; height:150px;">
            <ion-list class="list-group">
      		<ion-item class="list-group-item" ng-repeat="genre in genres | filter:search" ng-click="addGenre(genre)" >
			<h3 ALIGN="center" >{{genre.nombre}}<span class="glyphicon glyphicon-plus"></span></h3>
			</ion-item>
    	</ion-list>
			</div>
			</div>
			<div class="container panel panel-default col-lg-4">
				<div class="panel-heading">
					<input type="search"
             			placeholder="Busca un Género Agregado"
             			ng-model="search2"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
    			<div class="panel-body" style="overflow:scroll; height:150px;">
            	<ion-list class="list-group">
				<ion-item class="list-group-item" ng-repeat="genre in addedGenres | filter:search2" ng-click="removeGenre(genre)" >
				<h3 ALIGN="center" >{{genre.nombre}}<span class="glyphicon glyphicon-minus"></span></h3>
				</ion-item>
    	</ion-list>
			</div>
			</div>			
		  </div>
		 
		  
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Guardar Cambios" type="submit">
            <span></span>
            <input class="btn btn-default" value="Reestablecer" ng-click="resetData()" type="reset">
          </div>
        </div>	  
      </form>
    </div>
  </div>
</div>