<div menu></div>
<div class="container scroll" style="padding-top: 80px;" ng-init="getBand()">
<div class="row">
    <div class="col-md-3"></div>
    <div class="text-center letra col-md-6">
        <h1>{{nameband}}  {{bandquali}}</h1>
    </div>
</div>
    <div class="row">
    <div class="col-md-1"></div>            
    <div class="container panel panel-default col-lg-4">
        <div class="text-center">
             <h2>Miembros</h2>
        </div>
         <div class="panel-body" style="overflow:scroll; height:200px;">
            	<ion-list class="list-group">
				<ion-item class="list-group-item" ng-repeat="artist in bandArtist" >
				<h3 ALIGN="center" >{{artist.nombre}}</h3>
				</ion-item>
    	        </ion-list>
        </div>
    </div>

    <div class="container panel panel-default col-lg-4">
        <div class="text-center">
             <h2>Canciones</h2>
        </div>
         <div class="panel-body" style="overflow:scroll; height:200px;">
            	<ion-list class="list-group">
				<ion-item class="list-group-item" ng-repeat="songs in bandSongs" >
				<h3 ALIGN="center" >{{songs.nombre}}</h3>
				</ion-item>
    	        </ion-list>
        </div>
    </div>        
        
    <div class="container panel panel-default col-lg-4">
        <div class="text-center">
             <h2>Informacion General</h2>
        </div>
         <div class="panel-body" style="overflow:scroll; height:200px;">
            	<ion-list class="list-group">
				<ion-item class="list-group-item" ng-repeat="songs in bandSongs" >
				<h3 ALIGN="center" >{{songs.nombre}}</h3>
				</ion-item>
    	        </ion-list>
        </div>
    </div>  
        
        
        
    </div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="text-center letra col-md-6">
        <h2>Comenta y Califica</h2>
    </div>
</div>
<form autocomplete="off" id="myForm" method="post" class="form-horizontal" ng-submit="comment(comen)">
<div class="row">
    <div class="col-md-3"></div>
   <div class="col-md-6">
     <input id="Company Name" name="Company Name" type="text"  class="form-control input-md" required=""  ng-model="comen">   
   </div>
    <div class="col-md-6">
           <input disable class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" id="input-5" name="input-5">   
   </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
  <div class="col-md-6">
    <input type="submit" class="btn sellBtn boton" value="Anadir Commentario">
  </div>    
 </div>
    
<div class="row">
    <div class="col-md-3"></div>
    <div class="text-center letra col-md-6">
        <h2>Comentarios</h2>
    </div>
</div>
<div class="container panel panel-default ">
    <div class="text-center">
            <h2></h2>
    </div>
    <div class="panel-body" style="overflow:scroll; height:200px">
            <ion-list class="list-group">
             <ion-item class="list-group-item" ng-repeat="comment in bandCom" >
				<h3 ALIGN="center" >{{comment.descripcion}}</h3>
             </ion-item>
    	   </ion-list>
    </div>
</div>  
    </form>
 </div>