<div menu ></div>
<div class="container scroll" style="padding-top: 80px;" ng-init="getBillboard()">
    <div class="text-center">
        <div class="col-md-3"></div>
        <div class="text-center letra col-md-6" ng-repeat="cartelera in unaCartelera">
            <h1 ALIGN="center">{{cartelera.nombre}}</h1>
        </div>
    </div> 
    <div class="col-md-3 col-sm-6 col-xs-12"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
		<br>
		<br>
      <div class="text-center">  
        <img width="auto" id="pic" height="200px" src="https://s-media-cache-ak0.pinimg.com/736x/84/2c/e9/842ce91cd34f5ffbc211086364ac745b.jpg" alt="avatar">
        <h6>*Agregar foto de Cartelera</h6>
        <input type="file" id="file" class="text-center center-block well well-sm">
      </div>		
    </div>
    
    
     <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form">
          <div class="col-md-8" ng-repeat="cartelera in unaCartelera"> 
		 <div class="form-group">
          <label>Pais: {{cartelera.nombre1}}</label>  
        </div>
		<div class="form-group">
          <label >Ubicación: {{cartelera.ubicacion}}</label>
        </div> 
          
        <div class="form-group">
          <label >Fecha inicio festival: {{cartelera.diaDeInicio}}</label>
        </div> 
          
        <div class="form-group">
          <label >Fecha final festival:{{cartelera.diaFinal}}</label>
        </div>
          
        <h2>Votaciones</h2>  
              
        <div class="form-group">
          <label >Fecha final votacion: {{cartelera.diaFinalVotaciones}}</label>
        </div>
     </div>     
      </form>
    </div>
    
        <div class="container panel panel-default col-lg-3">
				<div class="panel-heading">
				<input type="search"
             			placeholder="Busca un Categoria"
             			ng-model="search"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
    		<div class="panel-body" style="overflow:scroll; height:180px;">
            <ion-list class="list-group">
      		<ion-item class="list-group-item" ng-repeat="category in listCategory | filter:search" ng-click="categorieBands(category)" >
			<h3 ALIGN="center" >{{category.nombre}}</h3>
			</ion-item>
    	</ion-list>
            </div>
        </div>
    
        <div class="container panel panel-default col-lg-3">
				<div class="panel-heading">
					<input type="search"
             			placeholder="Busca una Banda"
             			ng-model="search2"
             			ng-change="scrollTop()"  
                		class="full-width white-background">
				</div>
             <h5 ALIGN="center">{{categoryAct.nombre}}</h5>
    			<div  class="panel-body " style="overflow:scroll; height:140px;">
            		<ion-list class="list-group">
						<ion-item class="list-group-item" ng-repeat="band in categorybands | filter:search2">
							<a style="color:black;" href="#/seeBand/{{band.id}}"><h3>{{band.nombre}}</h3></a>
                                <form>
                            	<input type="number" value="0" max="100" min="0" step="1" maxlength="3" size="3" required="required">
                                  <input type="submit">
                                </form>
                            <h3>Total: {{band.vote}}</h3>
						</ion-item>
    				</ion-list>
			</div>
			</div>    
</div>